<apex:page >
<head>
<!--<apex:includeScript value="{!URLFOR($Resource.bootstrapnew, 'dist/js/bootstrap.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.bootstrapnew, 'dist/js/bootstrap.min.js')}"/>-->
    
   <!-- <apex:includeScript value="{!URLFOR($Resource.tabvertical, 'js/easyResponsiveTabs.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.tabvertical, 'css/easy-responsive-tabs.css')}"/> -->
    
    <!--<apex:stylesheet value="{!URLFOR($Resource.bootstrapnew, 'dist/css/bootstrap.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.bootstrapnew, 'dist/css/bootstrap.min.css')}"/> -->
<apex:includeScript value="{!URLFOR($Resource.jQueryInternal, 'js/jquery-1.5.1.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.jQueryInternal, 'js/jquery-ui-1.8.11.custom.min.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.jQueryInternal, '/css/ui-lightness/jquery-ui-1.8.11.custom.css')}"/>
<script>
$(function() {
     $('#demoTab').easyResponsiveTabs();
    $( "#tabs" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
    $( "#tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
    $("#demoTab").easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any custom width
            fit: true   // 100% fits in a container
        });
    });
  $('.tab_nav li:first').addClass('active').show();
    $('.content').hide();
    $('.content:first').show();

    $('.tab_nav li').click(function(){

        $('.tab_nav li').removeClass('active');

        $(this).addClass('active');
        $(".content").hide();

        var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
        $(activeTab).fadeIn(1000); //Fade in the active ID content
        return false;

    });
</script>
<style>
  .ui-tabs-vertical { width: none; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: none; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0;background-color:green;padding-right:1em; border-right-width: 1px; border-right-width: 1px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
  </style>
</head>
<body>
<!-- TAB SECTION  -->
<div id="tabs">

    <ul class="tab_nav">
        <li><a href="#tab1">tab 1</a></li>
        <li><a href="#tab2">tab 2</a></li>
    </ul>

    <div class="tab_content">

        <div id="tab1" class="content">HI DIV1
        
        <table width="1px" align="left"><tr> <td>Contact details</td> </tr>
        </table>
        </div>
        <div>
        <table width="1px" align="left"><tr> <td><input type="text"></input></td> </tr>
        </table>
        </div>
        
        

        <div id="tab2" class="content">HI DIV 2
        
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" width="25"> </button>
        </div>

    </div>
</div>
 
</body>
</apex:page>